[submodule "xDscResources/xActiveDirectory"]
	path = xDscResources/xActiveDirectory
	url = https://github.com/PowerShell/xActiveDirectory
[submodule "xDscResources/xAdcsDeployment"]
	path = xDscResources/xAdcsDeployment
	url = https://github.com/PowerShell/xAdcsDeployment
